
.myFooter,
.load-more,
#divListProducts,
.quantityOrder{
    display: none;
}
.container-image,
.product-details {
    display: block;
    width: 100%;
}
.product-description {
    display: block;
    width: 100%;
    height: 100px;
    overflow-y: auto;
}
.container-image img,
.order-product-image img {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}
.product-title {
    width: 100%;
    font-size: 17px;
    height: 50px;
}
.product-content {
    width: 100%;
    height: 140px;
}


.product-description::-webkit-scrollbar {
    width: 8px;
}
/* Track */
.product-description::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #eeeeee;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */
.product-description::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #eeeeee;
    -webkit-box-shadow: inset 0 0 6px #eeeeee;
}
.product-description::-webkit-scrollbar-thumb:window-inactive {
    background: #eeeeee;
}
.containerSpinner {
    text-align: center;
    top: 38%;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 9999;
}

.textLoad {
    color: #4194d6;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: 100;
    line-height: 1.0;
    text-rendering: optimizeLegibility;
    text-shadow: 2px 2px 2px #847f7f;
}
.load-more {
    opacity: 0.5;
    cursor: pointer;
}
.load-more:hover {
    color: #1976D2;
    opacity: 1;
}
.quantityOrder,
.quantityItems{
    background-color: #26a69a;
    color: white;
    font-weight: 300;
    position: relative;
    border-radius: 3px;
    margin-right: 15px;
    padding: 10px;
    width: 20px;
    height: 20px;
    text-rendering: optimizeLegibility;
    cursor: pointer;
}



/*
-------------------------------
CARRITO
-------------------------------
*/
.order-product-title,
.order-product-title-modal {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.0;
    text-rendering: optimizeLegibility;
}
.order-product-title-modal {
    padding-top: 30px;
}
.codigo {
    font-size: 15px;
    color: #bdbdbd;
}
.order-product-image {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: 100%;
}
.order-product-price {
    text-decoration:line-through;
}
.order-product-price-primary {
    color: #ff8a80;
    font-size: 17px;
    margin: 0px;
}
.order-product-footer {
    display: block;
    width: 100%;
    height: 60px;
    padding: 8px 0px;
}
.order-product-quantity {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0px 10px 0px 5px!important;
    width: 40px !important;
    height: 30px !important;
    padding: 0px !important;
    top: 0px !important;
}
.order-product-delete {
    width: 40px;
    padding: 0px !important;
}